.admin-page{
	background:#fff;
}
.admin-wrapper{
	display:flex;
	flex-wrap: nowrap;
	min-height:100%;
	height:100%;
	margin:0 auto;
	max-width:1400px;
	align-items:stretch;

	a {
		text-decoration: none;
	}
}
.admin-page-content{
	max-width:1400px;
	flex: 1 1 auto;
	padding:30px;
	margin: 0 auto;
	background:#f4f7f9;
	position:relative;
	&:after{
		content:"";
		display: block;
		width:100%;
		height:50000px;
		position:absolute;
		background:#f4f7f9;
		top:0;
		left:100%;
	}
}
.admin-nav-wrapper {
	display: flex;
	flex-direction: column;
	flex: 0 0 250px;
	padding:30px;
	background:#fff;

}
.admin-logo{
	width:32px;
	margin:0 auto 0 0px;
	padding:0;
	font-size:32px;
	
	align-items:center;
}
.admin-nav {
	margin:0;
	list-style:none;
	padding:0;
	
	li {
	
	}
	a {
		color:$text;
		font-size:16px;
		display:block;
		padding:5px 0;
		letter-spacing: 1px;
		&:hover{
			color:$primary;
		}

	}
}
.proposals-list {
	display:grid;
	width:100%;
	text-align:left;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-auto-row: auto-fill minmax(200px, 1f);
	grid-gap:30px;
}
.proposal-card{
	&:after {
		transition:250ms opacity ease;
		content:"";
		width:100%;
		height:500px;
		background:rgba($primary,.85);
		display: block;
		top:0;
		left:0;
		opacity: 0;
		position: absolute;
		z-index:1;
	}
	&:hover{
		box-shadow: 0 0 50px rgba(0,0,0,.1);
		&:after{
			opacity: 1;
			

		}
	}
	position:relative;
	background:#fff;
	border-radius:5px;
	display:flex;
	flex-direction: column;
	overflow: hidden;
	&-dropdown {
		position:absolute;
		top:0;
		right:0;
	
	}
	&-dropdown-wrapper{
		position:relative;
		top:0;
	}
	&-icon{
		background:transparent;
		border-color:transparent;
		position:absolute;
		outline:none;
		right:0;
		top:0;
		width:40px;
		height:40px;
		z-index:9;
		background:transparent;
		opacity:0;
		transition:opacity 250ms ease;
		visibility: hidden;
		border:1px solid transparent;
		svg {
			margin-top:5px;
		}
		svg *{
			fill:#fff;
		}
	}
	&:hover &-icon, &-dropdown.is-active &-icon{
		opacity:1;
		visibility: visible;
		

	}
	 &-dropdown.is-active &-icon{
	 	border-left:$border;
		border-top:$border;
		border-right:$border;
		border-bottom:1px solid #fff;
		background:#fff;
		svg *{
			fill:$primary;
		}
	}
	&-dropdown-menu {
		position:absolute;
		visibility: hidden;
		opacity:0;
		top:39px;
		right:0;
		border:$border;
		border-radius: 5px 0 0 5px;
		box-shadow: 0px 0 8px rgba(0,0,0,.08);
		margin:0;
		padding:0;
		list-style:none;
		font-size:14px;
		z-index:8;
		background:#fff;
		li {
			
			width:140px;
			border-bottom:$border;

			a {
				display: block;
				padding:6px 10px;
				display: flex;
				align-items:center;
				&:hover{
					color:$primary;
				}
			}
			&:last-child{
				border-bottom:1px solid transparent;
			}
		}
	}
	&-dropdown.is-active &-dropdown-menu {
		opacity:1;
		visibility: visible;
	}

	h2 {
		@include type-setting(0);
		margin:0 auto 15px 0;
		padding-bottom:15px;
		font-weight:400;
		color:$primary;
		position:relative;
		&:after{
			content:"";
			display: block;
			width:50px;
			height:2px;
			background:rgba($primary,.6);
			position: absolute;
			left:0;
			bottom:0;
		}
	}
	&-info{
		flex: 1 0 calc(100% - 90px);
		padding:15px;
		position:relative;
	}
	&-payment{
		padding:15px;
		border-top:$border-light;
		flex: 0 0 auto;
	}
	
	&-progress{
		background:#f0f2f7;
		border-radius:7px;
		overflow:hidden;
	}
	&-received{
		background:rgba($primary,.8);
		height:10px;
		border-radius: 5px 0 0 5px;

	}
	&-meta-wrapper{
		display: flex;
		justify-content:space-between;
	}
	&-amount{
		margin-bottom:10px;
		letter-spacing: .5px;
		color:$light-grey;
		strong {
			color:$text;
			font-weight:normal;
		}
		

	}

	&-meta {
		width:calc( 50% - 10px);

		dt {	
			margin:0;
			font-size:12px;
			text-transform:uppercase;
			letter-spacing:1px;
			color:$light-grey;

		}
		dd {
			margin:10px 0 0 0;
			line-height:1.5;
		}
	}

	&-actions{
		position:absolute;
		display:flex;
		left:50%;
		top:50%;
		transform:translateX(-50%) translateY(-50%);
		opacity:0;
		visibility: hidden;
		z-index:6;
		&-wrapper{
			display:flex;
		}
		&-btn{
			font-size:14px;
			background-color: #fff;
			border-radius:22px;
			border:1px solid transparent;
			text-transform:uppercase;
			letter-spacing:1px;
			display:inline-block; 
			margin:0 5px;
			padding:3px 15px;
			color:$text;
			font-weight:600;
			outline:none;
			box-shadow:0 0 10px rgba(0,0,0,.1);
			&:hover{
				color:$primary;
			}
		}
	}
	&:hover &-actions{
		opacity: 1;
		visibility: visible;
	}

}
.mini-icon {
	display:inline-block;
	margin-right:5px;
	position:relative;
	bottom:-3px;
}
.proposal-card-actions-btn:hover, .proposal-card-dropdown a:hover{
	* {
		fill: $primary !important;
	}
}
.mini-icon svg {
	width:16px;
	height:16px;


	* {
		fill: $light-grey !important;
		transition: fill 250ms ease;
	}
}
.proposal-card-status{
	&-complete{
		color:$blue;
	}
}